# Source database (LIMS & LABBENCH)
SRC_HOST=
SRC_PORT=
SRC_USER=
SRC_PASS=

# Destination database (MERGE on DigitalOcean)
DST_HOST=ffcsa-do-user-18694698-0.g.db.ondigitalocean.com
DST_PORT=25060
DST_USER=
DST_PASS=
DST_DB=merge
DST_USE_SSL=true

